**/.cache/
**/.ipynb_checkpoints/
**/.temp/
**/.tmp/
**/.vs/
**/.vscode/
**/*.a
**/*.bin
**/*.dll
**/*.dylib
**/*.exe
**/*.lib
**/*.o
**/*.obj
**/*.out
**/*.root
**/*.so*
**/*.swp
**/*.tar
**/build*/
**/GPATH
**/GRTAGS
**/GTAGS
**/out/
**/temp/
**/tmp/
CMakeSettings.json
install/
